$body-bg: #e9ecef;
$primary: #3ba5dc;
$secondary: #8392ab;
$success: #00f867;
$info: #5d0149;
$warning: #fbcf33;
$danger: #ea0606;
$light: #ffffff;
$dark: #111927;
$grey: #cbcbcb;

$blue: #213d44;
$red: #055366;
$green: #8CA960;
$pink: #f8eaea;
$light-pink: #fdf5f5;
$parchment: #f0f1f1;
$micks-hat: #E09F3E;
$micks-other-hat: #478692;
$royal: #42438d;
$da-greem: #0c3a2b;
$club: #dedee4f6;
$club2:#0b0b1698;
$club3:#19191ada;


$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
  
  "blue": $blue,
  "red": $red,
  "green": $green,
  "pink": $pink,
  "light-pink": $light-pink,
  "parchment": $parchment,
  "micks-hat": $micks-hat,
  "micks-other-hat": $micks-other-hat,
  "royal": $royal,
  "club": $club,
  "club2": $club2,
  "club3": $club3
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
